main>div{
    margin:2%;
    padding:2%;
}
button{
    margin:2%;
    padding:2%;
    color : purple;
    background-color: white;
    border: 1px solid purple;
    cursor: pointer;
}

button:hover,button:active{
    margin:1%;
    padding:1%;
    color : white;
    background-color: purple;
    border: 1px solid white;
    cursor: pointer;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 2%;
}