<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/admin/add-product">Add Product</a>
            </div>
        </nav>
    </header>
    <main>
        <p>404 error page</p>
    </main>
</body>
</html>